<% include partials/header %>
<main class="container text-center">
  <h2><%=data.title%></h2>
  <form action="/search" method="get">
    <input type="search" name="q" value="<%=data.q%>" >
    <button type="submit">Search</button>
  </form>
  <table>
      <head><th>url</th><th>score</th></head>
      <% if (data.results) { %>
          <%for (result of data.results) { %>
              
            <tr><td><a href="https://en.wikipedia.org<%=result.page.url%>"><%=result.page.name%></a></td><td><%=result.score%></td></tr>
              
              
          <% } -%>
          <% } else { -%>
      <% } %>
  </table>
</main>
<% include partials/footer %>
